[CategoryList]
sort = "name desc"
==
<div id="em-mheader" class="visible-xs container">
    <div id="em-mheader-top" class="row">
        <div id="em-mheader-logo" class="col-xs-4">
            <div class="em-logo"><a href="{{ '/' }}" title="Game World Commerce" class="logo"><strong>Game World Commerce</strong><img src="{{ 'assets/images/logo_small.png'|theme }}" alt="Game World Commerce" /></a>
            </div>
        </div>
        <div class="col-xs-20">
            <div class="em-top-search">
                <div class="em-header-search-mobile">
                    <form id="search_mini_form_mobile" method="get">
                        <div class="form-search no_cate_search">
                            <div class="text-search">
                                <input id="search-mobile" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.em-top-search -->
            <div class="em-top-cart">
                <div class="em-wrapper-topcart-mobile em-no-quickshop">
                    <div class="em-container-topcart">
                        <div class="em-summary-topcart">
                            <a id="em-amount-cart-link" title="Shopping Cart" class="em-amount-topcart" href="#"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.em-top-cart -->
            <div id="em-mheader-wrapper-menu"> <span class="visible-xs fa fa-bars" id="em-mheader-menu-icon"></span>
                <div id="em-mheader-menu-content" style="display: none;">
                    <div class="em-wrapper-top">
                        <div class="em-language-currency row">
                            <div class="col-sm-24">
                                <div class="form-language em-language-style-mobile">
                                    <ul>
                                        <li class="selected">
                                            <a href="#" title="English"> <img alt="english" src="{{ 'assets/images/language/english.png'|theme }}" /> </a>
                                        </li>
                                        <!-- <li class="">
                                            <a href="#" title="French"> <img alt="french" src="{{'assets/images/language/french.html'|theme}}" /> </a>
                                        </li> -->
                                    </ul>
                                </div><!-- /.form-language -->
                                <div class="em-currency-style-mobile">
                                    <ul class="list-inline">
                                        <li class=""> <a href="#"> AUD </a>
                                        </li>
                                        <li class=""> <a href="#"> EUR </a>
                                        </li>
                                        <li class=" selected"> <a href="#"> USD </a>
                                        </li>
                                    </ul>
                                </div><!-- /.em-currency-style-mobile -->
                            </div>
                        </div><!-- /.em-language-currency -->
                        <div class="em-top-links row">
                            <div class="">
                                <ul class="top-header-link links">
                                    {% if user %}
                                    <li class="first col-xs-8"> <a title="Log In" class="login-link fa fa-user" href=""><span>{{user.name}}</span></a>
                                    </li>
                                    <li class="col-xs-8"><a data-request="onLogout" data-request-data="redirect: '/'" href="" class="signup-link fa fa-sign-out"><span>Đăng xuất</span></a>
                                    </li>
                                    {% else %}
                                    <li class="first col-xs-8"> <a title="Log In" class="login-link fa fa-user" href="{{'/login'}}"><span>Đăng nhập/Đăng ký</span></a>
                                    </li>
                                    {%endif%}
                                    <li class="last col-xs-8"> <a href="{{'/cart'}}" class="checkout-link fa fa-shopping-cart"><span>Cart</span></a>
                                    </li>
                                </ul><!-- /.top-header-link -->
                            </div>
                        </div><!-- /.em-top-links -->
                    </div><!-- /.em-wrapper-top -->
                    <div class="row mobile-main-menu toggle-menu">
                        <div class="col-sm-24">
                            <div class="em-top-menu">
                                <div class="em-menu-mobile">
                                    <div class="megamenu-wrapper wrapper-7_8258">
                                        <div class="em_nav" id="toogle_menu_7_8258">
                                            <ul class="hnav em_menu_mobile">
                                                <li class="menu-item-link menu-item-depth-0 fa fa-home ">
                                                    <a class="em-menu-link" href="{{'/'}}"> <span> Home </span></a>
                                                </li><!-- /.menu-item-link -->
                                                <li class="menu-item-link menu-item-depth-0 dd-menu-link fa fa-bars menu-item-parent">
                                                    <a class="em-menu-link" href="#"> <span> Category </span> </a>
                                                    <ul class="menu-container">


                                                        <li class="menu-item-text menu-item-depth-1  ">
                                                            <ul class="em-catalog-navigation vertical">

                                                                {% for category in CategoryList.categories %}
                                                                <li class="level0 nav-1 first parent">
                                                                    {%if(category.parent_id==0)%}
                                                                    <a href="{{ 'lists_product'|page({ slug:category.slug }) }}"> <span>{{category.name}}</span> </a>
                                                                    <ul class="level0">
                                                                        {% for cate in CategoryList.categories%}
                                                                        {% if(cate.parent_id==category.id) %}
                                                                        <li class="level1 nav-1-1 first">
                                                                            <a href="{{ 'lists_product'|page({ slug:cate.slug }) }}"> <span>{{cate.name}}</span> </a>
                                                                        </li>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                    {%endif%}
                                                                </li><!-- /.menu-item-vbox -->
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li><!-- /.menu-item-link -->
                                            </ul><!-- /.hnav -->
                                        </div>
                                    </div><!-- /.megamenu-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div><!-- /. mobile-main-menu -->
                    <div class="row mobile-block">
                        <div class="col-sm-24">
                            <ul class="em-mobile-help">
                                <li><a href="#" target="_blank"><span class="fa fa-download">&nbsp;</span>Download App</a>
                                </li>
                                <li><a href="#"><span class="fa fa-question-circle">&nbsp;</span>Help Center</a>
                                </li>
                                <li><a href="#"><span class="fa fa-star">&nbsp;</span>Feedback</a>
                                </li>
                                <li><a href="#"><span class="fa fa-comment-o">&nbsp;</span>Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.mobile-block -->
                </div><!-- /.em-mheader-menu-content -->
            </div><!-- /#em-mheader-wrapper-menu -->
        </div>
    </div><!-- /#em-mheader-top -->
</div><!-- /#em-mheader -->
<div class="hidden-xs em-header-style29">
    <div class="em-header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-24">
                    <div class="f-left">
                        <div class="em-language-currency f-left">
                            <div class="form-language toolbar-switch em-language-style01">
                                <div class="toolbar-title">
                                    <select id="em-hoverUl-language" title="Your Language" onchange="window.location.href=this.value">
                                        <option value="furniture_eng" selected="selected">English</option>
                                        <option value="furniture_fre">French</option>
                                    </select>
                                </div>
                            </div>
                            <div class="toolbar-switch em-currency-style01">
                                <div class="toolbar-title">
                                    <select id="em-hoverUl-currency" name="currency" title="Select Your Currency" onchange="setLocation(this.value)">
                                        <option value="AUD"> AUD</option>
                                        <option value="EUR"> EUR</option>
                                        <option value="USD" selected="selected"> USD</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- /.em-language-currency -->
                    </div>
                    <div class="">
                        <div class="em-top-links">

                            {% if user %}
                            
                            <ul class="list-inline f-right">
                                <li><a data-request="onLogout" data-request-data="redirect: '/'" href="">Đăng xuất</a></li>
                            </ul>
                            <ul class="list-inline f-right">
                                <li><a class="em-links-wishlist" href="" title="Wishlist">Xin chào: {{ user.name }}</a></li>
                            </ul>
                            {% else %}
                            <div id="em-login-link" class="account-link f-right em-non-login"> <a href="{{'/login'}}" class="link-account" id="link-login" title="Login">Đăng nhập/Đăng ký</a>
                                <div class="em-account" id="em-account-login-form" style="display: none;">
                                    {{ form_ajax('onSignin') }}
                                    <input name="form_key" type="hidden" value="iMzNKKno559ogiTe" />
                                    <div class="block-content">
                                        <p class="login-title h6 primary">Login</p>
                                        <p class="login-desc">If you have an account with us, please log in.</p>
                                        <ul class="form-list">
                                            <li>
                                                <label for="mini-login">Email Address<em>*</em>
                                                </label>
                                                <input
                                                name="login"
                                                type="text"
                                                class="form-control"
                                                id="userSigninLogin"
                                                placeholder="Enter your {{ loginAttributeLabel|lower }}" />
                                            </li>
                                            <li>
                                                <label for="mini-password">Password<em>*</em>
                                                </label>
                                                <input
                                                name="password"
                                                type="password"
                                                class="form-control"
                                                id="userSigninPassword"
                                                placeholder="Enter your password" />
                                            </li>
                                        </ul>
                                        <div class="action-forgot">
                                            <div class="login_forgotpassword">
                                                <p><a href="#">Quên mật khẩu?</a>
                                                </p>
                                                <p><span>Chưa có tài khoản?</span><a class="create-account-link-wishlist" href="#" title="Sign Up">Đăng ký</a>
                                                </p>
                                            </div>
                                            <div class="actions">
                                                <button type="submit" class="button"><span><span>Đăng nhập</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_close() }}
                                </div><!-- /.em-account -->
                            </div><!-- /#em-login-link -->
                            {% endif %}
                            
                            
                            
                        </div><!-- /.em-top-links -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.em-header-top -->
    <div class="em-header-middle">
        <div class="container em-menu-fix-pos">
            <div class="row">
                <div class="col-sm-24">
                    <div class="em-logo f-left"><a href="{{'/'}}" title="Game World Commerce" class="logo"><strong>Game World Commerce</strong><img class="retina-img" src="{{ 'assets/images/logo.png'|theme }}" alt="Game World Commerce" /></a>
                    </div>
                    <div class="em-search f-right">
                        <div class="em-top-search">
                            <div class="em-search-style02">
                                <div class="em-no-category-search">
                                    <form id="search_mini_form" method="get">
                                        <div class="form-search no_cate_search">
                                            <div class="text-search">
                                                <label for="search">Search:</label>
                                                <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                                <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-search -->
                </div>
            </div>
        </div>
    </div><!-- /.em-header-middle -->
    <div id="em-fixed-top"></div>
    <div class="em-header-bottom em-fixed-top">
        <div class="container em-menu-fix-pos">
            <div class="row">
                <div class="col-sm-24">
                    <div class="em-logo-sticky f-left">
                        <a href="{{'/'}}" title="Game World Commerce" class="logo"><img src="{{ 'assets/images/logo_small.png'|theme }}" alt="Game World Commerce" />
                        </a>
                    </div>
                    <div class="em-search em-search-sticky f-right">
                        <div class="em-top-search">
                            <div class="em-wrapper-js-search em-search-style01">
                                <div class="em-wrapper-search"> <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                    <div class="em-container-js-search" style="display: none;">
                                        <form id="search_mini_form_fixed_top" method="get">
                                            <div class="form-search">
                                                <label for="search">Search:</label>
                                                <input id="search-fixed-top" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                                <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-search -->
                    <div class="em-menu-hoz">
                        <div id="em-main-megamenu">
                            <div class="em-menu">
                                <div class="megamenu-wrapper wrapper-11_9908">
                                    <div class="em_nav" id="toogle_menu_11_9908">
                                        <ul class="hnav effect-menu">
                                            <li class="menu-item-link menu-item-depth-0 menu_custom menu_col6 menu-item-parent">
                                                <a class="em-menu-link" href="#"> <span> Danh mục </span> </a>
                                                <ul class="menu-container">
                                                    {% component 'CategoryList' %}
                                                </ul>
                                            </li><!-- /.menu-item-link -->
                                            <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                <a class="em-menu-link" href="{{'/'}}"> <span> Home </span>
                                                </a>   
                                            </li><!-- /.menu-item-link -->
                                            <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                <a class="em-menu-link" href="{{'/contact'}}"> <span> Liên hệ </span>
                                                </a>
                                            </li>
                                            <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                <a class="em-menu-link" href="blog.html"> <span> Giới thiệu </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- /.megamenu-wrapper -->
                            </div>
                        </div>
                    </div><!-- /.em-menu-hoz -->
                    <div class="em-top-cart-sticky em-top-cart f-right">
                        <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop">
                            <div class="em-container-topcart">
                                <div class="em-summary-topcart">
                                    <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="cart.html"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                                </div>
                                <div class="em-container-js-topcart topcart-popup" style="display:none">
                                    <div class="topcart-popup-content">
                                        <p class="em-block-subtitle">Shopping Cart</p>
                                        <div class="topcart-content">
                                            <p class="amount-content "> You have no items in your shopping cart.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-top-cart-sticky -->
                </div>
            </div>
        </div>
    </div>
</div><!-- /.em-header-style29 -->