description = "Default layout"
==
<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Game World : Everything Template</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTMLCooker">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- ================= Google Fonts ================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Uncial+Antiqua:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />

    <!-- Cloud Zoom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/em_cloudzoom.css'|theme }}" media="all" />

    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/menu.css'|theme }}" media="all" />
    <!-- Mega Menu CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/megamenu.css'|theme }}" media="all" />

    <!-- Widget CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ 'assets/css/widgets.css'|theme }}" media="all" /> -->

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/styles.css'|theme }}" media="all" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/font-awesome.css'|theme }}" media="all" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/owl.carousel.css'|theme }}" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/responsive.css'|theme }}" media="all" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.css'|theme }}" media="all" />

    <!-- Ajax Cart CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ 'assets/css/em_ajaxcart.css'|theme }}" media="all" /> -->
    <!-- Blog Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/blog-styles.css'|theme }}" media="all" />
    <!-- Multi Deal Pro CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ 'assets/css/em_multidealpro.css'|theme }}" media="all" /> -->

    <!-- Product Labels CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/em_productlabels.css'|theme }}" media="all" />

    <!-- Quick Shop CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ 'assets/css/em_quickshop.css'|theme }}" media="all" /> -->

    <!-- Fancybox CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/jquery.fancybox.css'|theme }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/lightbox.css'|theme }}" media="all" />
    <!-- Responsive Tab CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/responsive-tabs.css'|theme }}" media="all" />
    <!-- Print CSS -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/print.css'|theme }}" media="print" />
    <!-- Game World CSS -->
    <link rel='stylesheet' type='text/css' media='all' href="{{ 'assets/css/game-style.css'|theme }}"/>
    <!-- Style Game World CSS -->
    <link rel='stylesheet' type='text/css' media='all' href="{{ 'assets/css/style_game.css'|theme }}" />

    <!-- Jquery Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery-1.11.3.min.js'|theme }}"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <!-- Lazy Load Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery.lazyload.min.js'|theme }}"></script>
    <!-- Owl Carousel Js -->
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.js'|theme }}"></script>
    <!-- Ios Orientation Change Js -->
    <script type="text/javascript" src="{{ 'assets/js/ios-orientationchange-fix.js'|theme }}"></script>
    <!-- Hover Intent Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery.hoverIntent.js'|theme }}"></script>
    <!-- Select UI Js -->
    <script type="text/javascript" src="{{ 'assets/js/selectUl.js'|theme }}"></script>
    <!-- Throttle Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery.ba-throttle-debounce.js'|theme }}"></script>
    <!-- EM Js -->
    <script type="text/javascript" src="{{ 'assets/js/em0131.js'|theme }}"></script>
    <!-- MegaMenu Js -->
    <script type="text/javascript" src="{{ 'assets/js/megamenu.js'|theme }}"></script>
    <!-- Responsive Tab Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery.custom.responsiveTabs.js'|theme }}"></script>
    <!-- Fancybox Js -->
    <script type="text/javascript" src="{{ 'assets/js/jquery.fancybox.js'|theme }}"></script>
    <!-- Custom Js -->
    <script type="text/javascript" src="{{ 'assets/js/em_category.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/cloud-zoom.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/custom.js'|theme }}"></script>


       <!--  [if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'|theme }}"></script>
          <script src="https://oss.maxcdn.com/libs/respond.{{ 'assets/js/1.4.2/respond.min.js'|theme }}"></script>
          <![endif] -->


      </head>

      <body class="cms-index-index">

        <div class="wrapper">
            <noscript>
                <div class="global-site-notice noscript">
                    <div class="notice-inner">
                        <p> <strong>JavaScript seems to be disabled in your browser.</strong>
                            <br /> You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
                        </div>
                    </div>
                </noscript>

                <div class="page one-column">



                    <div class="em-wrapper-header">
                        {% partial 'site/header' %}
                    </div>



                    <div class="em-wrapper-main">
                        {% page %}
                    </div><!-- /.em-wrapper-main -->

                    <div class="em-wrapper-footer">
                        {% partial 'site/footer' %}
                    </div><!-- /.em-wrapper-footer -->

                    <p id="back-top" style="display: none;"><a title="Top" href="#top">Top</a></p>



                </div><!-- /.page -->

            </div><!-- /.wrapper -->
            <script type="text/javascript">
                layout = '1column';
            </script>
            <!-- Product View Js -->
            <script type="text/javascript" src="{{ 'assets/js/em_product_view.js'|theme }}"></script>
            <!-- Lightbox Js -->
            <script type="text/javascript" src="{{ 'assets/js/lightbox.min.js'|theme }}"></script>
            <script type="text/javascript">
                jQuery('.cloud-zoom-gallery').click(function() {
                    jQuery('#zoom-btn').attr('href', this.href);
                });
                function doSliderMoreview() {
                    var owl = $("ul.em-moreviews-slider");
                    if (owl.length) {
                        owl.owlCarousel({
                    // Navigation
                    navigation: true,
                    navigationText: ["Previous", "Next"],
                    pagination: false,
                    paginationNumbers: false,
                    // Responsive
                    responsive: true,
                    items: 7,
                    /*items above 1200px browser width*/
                    itemsDesktop: [1200, 4],
                    /*//items between 1199px and 981px*/
                    itemsDesktopSmall: [992, 7],
                    itemsTablet: [768, 3],
                    itemsMobile: [480, 2],
                    // CSS Styles
                    baseClass: "owl-carousel",
                    theme: "owl-theme",
                    transitionStyle: false,
                    addClassActive: true,
                });
                    }
                }

                function changeQty(increase) {
                    var qty = parseInt($('#qty').val());
                    if (!isNaN(qty)) {
                        console.log(qty)
                        qty = increase ? qty + 1 : (qty > 1 ? qty - 1 : 1);
                        $('#qty').val(qty);
                    }
                }

                /* Related Product */
                var relatedProductsCheckFlag = false;

                function selectAllRelated(txt) {
                    if (relatedProductsCheckFlag == false) {
                        $('.related-checkbox').each(function(elem) {
                            elem.checked = true;
                        });
                        relatedProductsCheckFlag = true;
                        txt.innerHTML = "unselect all";
                    } else {
                        $('.related-checkbox').each(function(elem) {
                            elem.checked = false;
                        });
                        relatedProductsCheckFlag = false;
                        txt.innerHTML = "select all";
                    }
                    addRelatedToProduct();
                };
                function addRelatedToProduct() {
                    var checkboxes = $('.related-checkbox');
                    var values = [];
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) values.push(checkboxes[i].value);
                    }
                    if ($('related-products-field')) {
                        $('related-products-field').value = values.join(',');
                    }
                };

                (function($) {
                    $(window).load(function() {
                        if (!isPhone) {
                            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
                        }
                        doSliderMoreview();

                        /* Related Slider */
                        var owl = $('#em-related').find('.em-related-slider');
                        if (owl.length) {
                            owl.owlCarousel({
                        // Navigation
                        navigation: true,
                        navigationText: ["Previous", "Next"],
                        pagination: false,
                        paginationNumbers: false,
                        // Responsive
                        responsive: true,
                        items: 4,
                        /*items above 1200px browser width*/
                        itemsDesktop: [1200, 4],
                        /*//items between 1199px and 981px*/
                        itemsDesktopSmall: [992, 3],
                        itemsTablet: [768, 3],
                        itemsMobile: [480, 2],
                        // CSS Styles
                        baseClass: "owl-carousel",
                        theme: "owl-theme",
                        transitionStyle: false,
                        addClassActive: true,
                        afterMove: function() {
                            var $_img = owl.find('img.em-img-lazy');
                            if ($_img.length) {
                                var timeout = setTimeout(function() {
                                    $_img.trigger("appear");
                                }, 200);
                            }
                        },
                    });
                        }

                        /* Related Checkbox */
                        $( ".related-checkbox" ).on( "click", function() {
                            addRelatedToProduct()
                        });
                    });
                })(jQuery);
            </script>
            <script type="text/javascript">
                (function($) {
                    if (typeof EM == 'undefined') EM = {};
                    if (typeof EM.SETTING == 'undefined') EM.SETTING = {};

                    function setColumnCountGridMode() {
                        var wWin = $(window).width();
                        if (EM.SETTING.DISABLE_RESPONSIVE == 1) {
                            var sDesktop = 'emcatalog-desktop-';
                            var sDesktopSmall = 'emcatalog-desktop-small-';
                            var sTablet = 'emcatalog-tablet-';
                            var sMobile = 'emcatalog-mobile-';
                            var sGrid = $('#em-grid-mode');
                            if (wWin > 1200) {
                                sGrid.removeClass().addClass(sDesktop + '5');
                            } else {
                                if (wWin <= 1200 && wWin > 768) {
                                    sGrid.removeClass().addClass(sDesktopSmall + '4');
                                } else {
                                    if (wWin <= 768 && wWin > 480) {
                                        sGrid.removeClass().addClass(sTablet + '3');
                                    } else {
                                        sGrid.removeClass().addClass(sMobile + '2');
                                    }
                                }
                            }
                        } else {
                            var sDesktop = 'emcatalog-desktop-';
                            var sGrid = $('#em-grid-mode');
                            sGrid.removeClass().addClass(sDesktop + '5');
                        }
                    };
            //Ready Function
            $(document).ready(function() {
                setColumnCountGridMode();
            });
            $(window).resize($.throttle(300, function() {
                setColumnCountGridMode();
            }));
        })(jQuery);
    </script>
    <script type="text/javascript">
        function qtyDown(id) {
            var qty_el = document.getElementById('cart[' + id + '][qty]');
            var qty = qty_el.value;
            if (!isNaN(qty) && qty > 1) {
                qty_el.value--;
            }
            return false;
        }

        function qtyUp(id) {
            var qty_el = document.getElementById('cart[' + id + '][qty]');
            var qty = qty_el.value;
            if (!isNaN(qty)) {
                qty_el.value++;
            }
            return false;
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.17&amp;signed_in=true"></script>
    <script type="text/javascript">
        function initialize() {
            var myLatlng = new google.maps.LatLng(10.8090676, 106.7135682);
            var mapOptions = {
                zoom: 10,
                center: myLatlng
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var contentString = 'We really care about you and your website as much as you do. Purchasing EM0131 Everything or any other theme from us you get 100% free support.';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var image = 'images/gmap_icon.png';
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: image,
                title: 'EM0131 Everything'
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
        {% framework extras %}
</body>


</html>
